
<table class="table">
    <tr>
        <th>name</th><th>rating</th>
    </tr>
    {{#each users}}
    <tr>
        <td>
        {{name}}
        </td>
        <td>
        {{rating}}
        </td>
    </tr>
    {{/each}}
</table>

